html {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: bisque;
}
button{
    cursor: pointer;
    border: none;
    outline: black;
    background-color: greenyellow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    position: relative;
}